
/*
    1AC073 - GREEN

*/
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button{
    cursor: pointer;
}

.navbar{
    height: 80px;
    background-color: #1AC073;
    line-height: 20px;
    letter-spacing: -1.2%;
;
}

.navbar-div{
    padding: 2% 0%;
    padding-left: 9.3%;
    padding-right: 10.5%;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.navbar-logo{
    font-family: 'Squada One', cursive;
    color: white;
    font-size: 32px;
    margin-right: 1%;
}

.navbar-options{
    margin-left: 140px;
    display: flex;
    width: 500px;
    flex-wrap: nowrap;
}

.navbar-options li{
    font-size: 18px;
    justify-content: space-evenly;
    list-style: none;
    display: inline-block;
    color: #ffffff;
    margin-right: 35px;
    margin-bottom: 1%;
}

.navbar-options li a{
    font-family: 'Roboto'  sans-serif;
    text-decoration: none;
    color: white;
}
.navbar-icons{
    display: flex;
    gap: 28px;
}

.navbar-icon{
    height: 22px;
    width: 22px;
    cursor: pointer;
}


/* Banner Styling */

.home-banner{
    height: 720px;
    background-color: #1AC073;
    justify-content: space-between;
    padding-top: 156px;
}

.home-sub-banner{
    justify-content: space-between;
    background-color: #1AC073;
    display: flex;
    align-items: start;
    margin: auto;
    padding: 0% 7.5%;
}

.banner-text{
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 2%;
}

.banner-text h1{
    font-family: 'Roboto'  sans-serif;
    color: white;
    width: 534px;
    height: 147px;
    font-weight: 400;
    font-size: 66px;
    line-height: 80px;
}

.banner-text p{
    font-family: 'Roboto'  sans-serif;
    color: white;
    width: 441px;
    height: 40px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -1.2%;
}

.banner-cooking-image{
    display: flex;
    justify-content: center;
    margin : 0% 9%;
}


.search-bar{
    display: flex;
}

.text-feild{
    height: 58px;
    width: 286px;
    padding: 19px 22px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.text-feild-button{
    font-family: 'Roboto'  sans-serif;
    height: 58px;
    background-color: #F3BA00;
    color: white;
    width: 112px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none
}

.text-feild ::placeholder{
    font-family: 'Roboto'  sans-serif;
    color: #929292;;
}

/* Styling home products */

.home-kitchen-section{
    height: 2029px;
    width: 100%;
    background-color: #F7F8FA;
    display: inline-block; 
}

.Home-kitchen{
    margin-top: 6.3%;
    margin-left: 9%;
    margin-right: 9%;
}
.Home-kitchen h1{
    font-size: 36px;
}

.sub-kitchen-section{
    margin-top: 3.77%;
    margin-right: 9%;
    margin-left: 9%;
    align-items: center;
    background-color: #F7F8FA;
}


.food-item-display{
    background-color: white;
    border-radius: 10px;
    position: relative;
    height: 337px;
    width: 278.5px;
    display: flex;
}

.food-item-display img{
    left: 0;
    height: 250px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.food-item-details{
    margin: auto;
    padding: 20px, 10px;
    position: absolute;
    bottom: 0;
    padding: 0% 5%;
}

.name-price{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.name-price p{
    font-family: 'Roboto'  sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -1.2%;
}

.rating-and-time{
    display: flex;
    gap: 15px;
}

.add-food-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.show-time{
    font-family: 'Roboto'  sans-serif;
    background-color: #BEBEBE;
    width: 68px;
    height: 20px;
    border-radius: 5px;
    padding: 0px 3px;
}

.show-time-button{
    width: 62px;
    height: 100%;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.show-time-button p{
    font-weight: 500;
    font-size: 12px;
}

.show-popular-items{
    margin-top: 3.5%;
    margin-left: 0%;
    display: flex;
    gap: 50px;
}

.swipe-left, 
.swipe-right
{
    margin-top: 11%;
    height: 71.5px;
    width: 71.5px;
    border-radius: 100%;
    border: #1AC073;
    border-width: 3px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #1AC073;
}

.swipe-left img{
    height: 32px;
}

.swipe-right img{
    height: 32px;
}

.swipe-right:hover,
.swipe-left:hover{
    margin-top: 11%;
    height: 71.5px;
    width: 71.5px;
    border-radius: 100%;
    background-color: #1AC073;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.2);
}

.swipe-right{
    padding-left: 0.55%;
}

.swipe-left{
    padding-right: 0.55%;
}

.rating-button{
    background-color: #F7F8FA;
    height: 20px;
    width: 45px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -1.2%;
}

.add-to-cart{
    margin: 0px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart-button{
    width: 22px;
    height: 20px;
    border-radius: 5px;
    background-color: #F3BA00;
    border: none;
}

.add-to-cart-button img{
    height: 11.5px;
    width: 11.5px;
}

.scroll-section-layout{
    display: inline-block;
    width: 1200px;
    height: 750px;
}

.deliver-items{
    display: flex;
    flex-direction: column;
    margin-top: 8.8%;
    margin-left: 38.7%;
    font-size: 23.6px;
}

.grid-display{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    column-gap: 22px;  
    row-gap: 38px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #F7F8FA;
    border: none;
}

.request-dish-button{
    height: 48px;
    width: 210px;
    border-radius: 10px;
    background-color: #1AC073;
    color: white;
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 7.1%;
    margin-left: 40.4%;
}

.service{
    position: relative;
    display: inline-block;
    height: 855px;
    width: 100%;
}

.container-one{
    position: relative;
    height: 516px;
    width: 100%;
    background-color: white;
}

.container-two{
    position: relative;
    background-color: #C7EACC;
    width: 100%;
    height: 346px;
}

.services-banner{
    width: 1050px;
    top: 0;
    margin: 5.6% 13.5%;
    position:absolute;
    display: inline-block;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.services-banner h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    word-spacing: 3px;
}

.services-banner p{
    margin-top: 0.8%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
}


.video-wrapper {
  position: absolute;
  width: 100%;
  max-width: 877px;
  height: 442px;
  overflow: hidden;
  top: 0;
  margin: 20.5% 19.5%;
}

.video-wrapper video {
  width: 100%;
  display: block;
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1AC073;
  width: 97.5px;
  height: 97.5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding-left: 1%;
}

.video-overlay img {
  height: 40px;
}



.contact-service-layout{
    height: 603px;
    display: flex;
    background-color: #F7F8FA;
    position: relative;
}

.contact-service{
    height: 403px;
    width: 1181px;
}
.content-container{
    margin-top: 8.4%;
    margin-left: 10.9%;
    width: 632px;
    height: 433px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.display-text{
    width: 317px;
    height: 73px;
}

.display-text h3{
    font-family: 'Roboto'  sans-serif;
    font-weight: 400;
    font-size: 22.3px;
    line-height: 24px;
    letter-spacing: -1.2%;
}

.display-text p{
    font-family: 'Roboto'  sans-serif;
    margin-top: 1.5%;
    font-weight: 400;
    font-size: 11.1px;
    line-height: 20px;
    letter-spacing: -1.2%;
}

.name-email-input{
    margin-top: 1.5%;
    width: 614.5px;
    height: 58px;
    display: flex;
    justify-content: space-between;
}

.email-input,
.name-input
{
    background-color: white;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    height: 58px;
    border-radius: 10px;
    padding-left: 3.6%;
    font-size: 15px;
}

.email-input ::placeholder{
    font-family: 'Roboto', sans-serif;
}

.name-input ::placeholder{
    font-family: 'Roboto', sans-serif;
}

.user-message-input{
    height: 164px;
    width: 617px;
}

.user-message-input ::placeholder{
    font-family: 'Roboto', sans-serif;
}

.user-message-input input{
    margin-top: 0.3%;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding-bottom: 17%;
    padding-left: 3.6%;
    font-size: 15.5px;
}

.submit-button{
    height: 58px;
    width: 210px;
}

.submit-button button{
    height: 100%;
    width: 100%;
    background-color: #1AC073;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1.2%;
}

.image-container{
    height: 603px;
    width: 600px;
    position: absolute;
    right: 0;
    margin-top: 7%;
    margin-right: 2.3%;
}


.footer-layout{
    height: 137px;
    width: 100%;
    background-color: #1AC073;
}

.footer{
    background-color: grey;
    height: 94px;
    width: 1180.5px;
    margin: auto;
}

